/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "sanfranciscodisplay-regular-webfont";
    font-weight: 600;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

  body{
      font-family: 'sanfranciscodisplay-regular-webfont';
  }