<div class="col-lg-4">

</div>
<div class="col-lg-4">
    <form #loginForm="ngForm" [hidden]="isRegister">
        <div class="form-group">
            <label for="username">Name</label>
            <input class="form-control" [(ngModel)]= loginModel.username id="username" placeholder="Name" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" [(ngModel)]= loginModel.password id="password" placeholder="Password" name="password">
        </div>
        <button class="btn btn-primary" (click)="Login()">Login</button>
        <button class="btn btn-primary" (click)="Toggle()">Register</button>
    </form>

    <form #registerForm="ngForm" [hidden]="!isRegister">
        <div class="form-group">
            <label for="usernameRegister">Name</label>
            <input class="form-control" [(ngModel)]= registerModel.username id="usernameRegister" placeholder="Name" name="usernameRegister">
        </div>
        <div class="form-group">
            <label for="passwordRegister">Password</label>
            <input class="form-control" type="password" [(ngModel)]= registerModel.password id="passwordRegister" placeholder="Password" name="passwordRegister">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input class="form-control" type="password" [(ngModel)]= registerModel.confirmPassword id="confirmPassword" placeholder="Password" name="password">
        </div>
        <button class="btn btn-primary" (click)="Register()">Register</button>
    </form>
    <div class="alert alert-success" *ngIf="isSuccess">
        <strong>Success!</strong>
      </div>
      <div class="alert alert-danger" *ngIf="isFail">
        <strong>Error!</strong>
      </div>
     
</div>
<div class="col-lg-4">

</div>