<div class="col-lg-3"></div>
<div class="col-lg-6">
  <div class="table-responsive">
      <div class="table">
          <tbody>
              <tr *ngFor="let model of weather?.list">
                  <th>{{model.dt_txt | dateTransform}}
                  <tr><td>{{model.dt_txt | slice: 10:16}}</td></tr>
                  <tr><td *ngFor="let icon of model.weather"><img src="http://openweathermap.org/img/w/{{icon.icon}}.png">
                  {{icon.description}}
                  </td></tr>
                </th>
                  <div class="table">
                    <tbody>
                      <tr>
                        <td >{{model.main.temp}} °C</td>
                        <td>{{model.main.pressure}} hPa</td>
                        <td>Sea level: {{model.main.sea_level}}</td>
                      </tr>
                      <tr>
                        <td>Humidity: {{model.main.humidity}} %</td>
                        <td>Wind Speed: {{model.wind.speed}} m/s</td>
                        <td>Clouds: {{model.clouds.all}} %</td>
                      </tr>
                      
                    </tbody>
                  </div>
              </tr>
          </tbody>
      </div>
  </div>
</div>
<div class="col-lg-3"></div>