<div class="col-lg-4">

</div>
<div class="col-lg-4">
    <h1>
        <strong>Welcome in Weather App !</strong>

        <a (click)="switchWeatherApi('OpenWeatherMaps')">
            <img width="200px" height="200px" src="https://media.dragstone.com/content/icon-openweathermap-1.png" class="img-responsive center-block">
            </a>
            <a (click)="switchWeatherApi('Apixu')">
                <img width="200px" height="200px" src="https://pbs.twimg.com/profile_images/761439376433971200/ljkftqN4_400x400.jpg" class="img-responsive center-block">
            </a>
    </h1>
</div>
<div class="col-lg-4">

</div>
