<div class="col-lg-12">
    <div class="table-responsive">
        <div class="table">
            <thead>
                <th>City Name</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let model of favorite">
                    <td>{{model.cityName}}</td>
                    <td>{{model.longitude}}</td>
                    <td>{{model.latitude}}</td>
                    <td><button (click)="DeleteFavorite(model.weatherStationId)" class="btn btn-default">Delete</button></td>
                </tr>
            </tbody>
        </div>
    </div>
</div>