<div class="col-lg-12">
    <div class="table-responsive">
        <div class="table">
            <thead>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Temperature</th>
                <th>Pressure</th>
                <th>Wind Speed</th>
                <th>Wind Chill</th>
                <th>Date</th>
            </thead>
            <tbody>
                <tr *ngFor="let model of weather?.pageData;">
                    <td>{{model.longitude}}</td>
                    <td>{{model.latitude}}</td>
                    <td>{{model.temperature}}</td>
                    <td>{{model.pressure}}</td>
                    <td>{{model.windSpeed}}</td>
                    <td>{{model.windChill}}</td>
                    <td>{{model.date}}</td>
                </tr>
            </tbody>
        </div>
    </div>
    <button class="btn btn-default" (click)="FirstPage()">First</button>
    <button class="btn btn-default"  [disabled]="weather?.paging.previous === null" (click)="PreviousPage()">Previous Page</button>
    <button class="btn btn-default" [disabled]="weather?.paging.next === null" (click)="NextPage()">Next Page</button>
    <button class="btn btn-default"(click)="LastPage()">Last</button>
</div>