<!-- <agm-map [latitude]="lat" [longitude]="lon">
  <agm-marker *ngFor="let w of weather?.list" [latitude]="w?.coord.lat" [longitude]="w?.coord.lon" 
  (markerClick)="func()"
  >

    <agm-info-window>
      <strong>{{w?.name}}
        <br>
      </strong>
      {{w?.main.temp}} C
      <br> Prędkość wiatru: {{w?.wind.speed}} km/h
      <br> Ciśnienie: {{w?.main.pressure}} hPa</agm-info-window>
 </agm-marker>
</agm-map> -->

<agm-map [latitude]="lat" [longitude]="lon">
  <agm-marker *ngFor="let m of markers" [latitude]="m?.lat" [longitude]="m?.lon" 
  (markerClick)="GetWeather(m.Cityname, infoWindow)"
  >

    <agm-info-window #infoWindow>
      <strong>{{weather?.name}}
        <br>
      </strong>
      {{weather?.main.temp}} C
      <br> Prędkość wiatru: {{weather?.wind.speed}} km/h
      <br> Ciśnienie: {{weather?.main.pressure}} hPa</agm-info-window>
 </agm-marker>
</agm-map>
