<div class="col-lg-12" border-radius="10px">
<agm-map [latitude]="lat" [longitude]="lon">
  <agm-marker *ngFor="let m of markers;" [latitude]="m?.latitude" [longitude]="m?.longitude"
  (markerClick)="GetWeather(m.cityName, infoWindow)"
  >

    <agm-info-window #infoWindow>
    <div class="latLongInfo">  Lon: {{weather?.Longitude}}    |   Lat: {{weather?.Latitude}}</div>
      <div class="weatherInfoTemp">Temperatura: {{weather?.Temperature}} C</div>
      <div class="weatherInfoWindChill"> Temperatura Odczuwalna: {{weather?.WindChill}}</div>

      <div class="weatherInfoWindSpeed">Prędkość wiatru: {{weather?.WindSpeed}} km/h</div>
      <div class="weatherInfoPressure"> Ciśnienie: {{weather?.Pressure}} hPa</div>
      <button (click)="AddToFavorite(m.Cityname, weather?.Longitude, weather?.Latitude)" class="btn btn-default">Add to Favorite</button>
      <button [routerLink]="['/details', m.cityName]" class="btn btn-default">Details</button>
    </agm-info-window>
 </agm-marker>
</agm-map>
</div>