<agm-map [latitude]="lat" [longitude]="lon">
  <agm-marker *ngFor="let m of markers" [latitude]="m?.lat" [longitude]="m?.lon" 
  (markerClick)="GetWeather(m.Cityname, infoWindow)"
  >

    <agm-info-window #infoWindow>
      <strong>Lon: {{weather?.Longitude}}</strong>
      <strong>Lat: {{weather?.Latitude}}</strong>
      <br>Temperatura: {{weather?.Temperature}} C
      <br> Prędkość wiatru: {{weather?.WindSpeed}} km/h
      <br> Ciśnienie: {{weather?.Pressure}} hPa
      <br> Temp Odczuwalna {{weather?.WindChill}}
    </agm-info-window>
 </agm-marker>
</agm-map>
